# macOS
# ------------------------------------------------------------------------------
.DS_*
._*

# Node
# ------------------------------------------------------------------------------
*.log
*.tgz
*.zip
.npm
.yarn-integrity
logs
node_modules/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Yarn 2 (Not using Zero-Installs)
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
# ------------------------------------------------------------------------------
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# ESLint
# ------------------------------------------------------------------------------
.eslintcache
